body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.audio-upld-container {
  max-width: 100px;
  padding: 2px;
  text-align: center;
  position: absolute;
  left: 2.3%;
  top: 35%;


}

.audio-upld-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}