/* App.css */

.navbar {
  background-color: #f41738; /* Navbar background color */
}

.navbar-brand {
  color: #f4e9e9; /* Navbar brand color */
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #fff; /* Navbar links color */
  margin-right: 10px;
}

.navbar-nav .nav-link:hover {
  color: #ffd700; /* Navbar links color on hover */
}

.custom-control-label {
  color: #fff; /* Switch label color */
}

.custom-control-input:checked ~ .custom-control-label {
  color: #ffd700; /* Switch label color when checked */
}