


.rectangle {
  margin-top: 4%;
  right: 1.91%;
  width: 40.1%; /* Adjust width as needed */
  height: 405px; /* Adjust height as needed */
  border-top: 2px solid #333; /* Adjust border properties as needed */
  border-bottom: 2px solid #333; /* Adjust border properties as needed */
  border-left: 2px solid #333; /* Adjust border properties as needed */
  border-right: 2px solid #333;
  border-radius: 5px; /* Adjust border properties as needed */

}